In [22]:
# Dependencies
# ----------------------------------
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
Base = declarative_base()

In [3]:
database_path = "Resources/hawaii.sqlite"
engine = create_engine(f"sqlite:///{database_path}")
Base.metadata.create_all(engine)

In [4]:
#vacation dates 6/1/2017 - 6/10/2017
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [5]:
Measurement = Base.classes.measurement
Station = Base.classes.measurement
session = Session(engine)

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [7]:
columns = inspector.get_columns('measurement')
for c in columns:
        print(c['name'], c['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [8]:
columns = inspector.get_columns('station')
for c in columns:
        print(c['name'], c['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [10]:
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [20]:
#esign a query to retrieve the last 12 months of precipitation data. 8/23/2016 - 8/23/2017
prcp_data = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date > '2016-08-22').\
    order_by(Measurement.date).all()

In [24]:
prcp_df = pd.DataFrame(prcp_data)

In [26]:
prcp_df.head(200)

           date  prcp
0    2016-08-23  0.00
1    2016-08-23  0.15
2    2016-08-23  0.05
3    2016-08-23   NaN
4    2016-08-23  0.02
..          ...   ...
195  2016-09-22  0.75
196  2016-09-23  0.00
197  2016-09-23  0.15
198  2016-09-23  0.15
199  2016-09-23  0.00

[200 rows x 2 columns]